<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Article Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link href="/article.css" rel="stylesheet">
</head>
<body>

    <nav
    class="navbar navbar-expand-lg bg-dark border-bottom border-body"
    data-bs-theme="dark"
    >
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Reader</a>
        <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="/reader">Home</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    <h2 class="d-flex justify-content-center align-items-center my-3">Read Article Page</h2> <hr>

    <div class="container py-4">
        <h2 class="text-center mb-4">Article Title: <%= article.title %> </h2>

        <div class="mb-4">
            <h5 class="mb-3"><b>Description</b></h5>
            <p class="mb-4"><%= article.article_description %></p>
        </div>

        <div class="mb-4">
            <h5 class="mb-3"><b>Article Information</b></h5>
            <ul class="list-group">
                <li class="list-group-item"><b>Publication Date:</b> <%= article.published %></li>
                <li class="list-group-item"><b>Number of Reads:</b> <%= article.number_of_reads %></li>
                <li class="list-group-item"><b>Number of Reactions:</b> <%= article.reactions %></li>                
            </ul>
        </div>


        <div class="container">
            <div class="row mb-4">
                <div class="col-12">
                    <h3>Reactions</h3>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="like">
                        <button type="submit" class="btn btn-success">Like</button>
                        <span><%= article.likes %></span>
                    </form>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="love">
                        <button type="submit" class="btn btn-danger">Love</button>
                        <span><%= article.loves %></span>
                    </form>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="haha">
                        <button type="submit" class="btn btn-warning">Haha</button>
                        <span><%= article.hahas %></span>
                    </form>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="wow">
                        <button type="submit" class="btn btn-info">Wow</button>
                        <span><%= article.wows %></span>
                    </form>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="sad">
                        <button type="submit" class="btn btn-primary">Sad</button>
                        <span><%= article.sads %></span>
                    </form>
                </div>
                <div class="col">
                    <form action="/reader/article/react/<%= article.id %>" method="POST">
                        <input type="hidden" name="reaction" value="angry">
                        <button type="submit" class="btn btn-dark">Angry</button>
                        <span><%= article.angrys %></span>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h5 class="mb-3"><b>Add a Comment</b></h5>
            <form action="/reader/article/add_comment/<%= article.id %>" method="POST">
                <div class="mb-3">
                    <label for="commenter_name" class="form-label">Commenter's Name</label>
                    <input type="text" class="form-control" id="commenter_name" name="commenter_name" required>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
            </form>
        </div>

        <div class="mb-4">
            <h5 class="mb-3"><b>Comments</b></h5>
            <ul class="list-group comment-list">
                <% for (let i = 0; i < comments.length; i++) { %>
                    <li class="list-group-item"><b><%= comments[i].commenter_name %></b> - <%= comments[i].comment %> (<%= comments[i].comment_date %>)</li>
                <% } %>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>